[2017-03-17 10:55] christianmalek opened #1 "Check vuex-promise-middleware"
See https://github.com/MatteoGabriele/vuex-promise-middleware/blob/master/src/index.js

[2017-03-17 21:15] christianmalek opened #2 "Pass params to axios fns"

[2017-03-17 22:02] christianmalek opened #3 "Change object iteration"
See https://github.com/airbnb/javascript/issues/851

[2017-03-18 16:29] #3 closed, assigned to christianmalek

[2017-03-18 16:29] #2 closed, assigned to christianmalek

[2017-03-18 16:29] #1 closed, assigned to christianmalek

[2017-03-18 16:29] christianmalek opened #4 "Add API docs"

[2017-03-18 16:39] christianmalek opened #5 "Write proper documentation"
The documentation is mandatory. Otherwise the different API combinations won't be understandable.

[2017-03-22 16:56] apertureless commented on #5
[docute](https://github.com/egoist/docute) is pretty nice and works out of the box.

[2017-03-22 16:57] christianmalek commented on #5
Thanks. I'll check it out!

[2017-03-22 17:00] #4 closed

[2017-04-04 13:46] elceka opened #7 "POST"
Hi,
please, how can i put payload to the POST action?

I have this action in Resource object:
`
.addAction({
        action: 'createChildren'
        method: 'post',
        property: 'children',
        pathFn: ({ parentId }) => '/parents/${parentId}/childrens'
    })
`

From component i call this:

`
createChildren({parentId:'c539fba9-5ee1-3670-b320-11fb967ce11c'}, {name:'Pedro'})
`

HTTP reques

[2017-04-04 13:58] christianmalek commented on #7
I don't see any error in your function call. It should work.

[2017-04-04 19:18] christianmalek commented on #7
@elceka: I fixed the bug in https://github.com/christianmalek/vuex-rest-api/commit/7b582a3cfcfb46d690b6a8cf83b9a12b87f4b309 and published a new version in npm.

As you can see in https://github.com/vuejs/vuex/issues/373 Vuex doesn't allow three parameters as function signature for actions (the first param is for the context, it's not visible for you if you use the vuex-rest-api). Therefore you nee

[2017-04-05 09:22] elceka commented on #7
Thank you, fixed!

[2017-04-05 09:22] #7 closed

[2017-04-07 13:43] elceka opened #8 "Axios request config params object"
Hi,
how can i use Axios request config params object for Resource object actions?
Action of Resource object has function **pathFn** for adding some parameters to the URL, but i need add some handy parameters with stringifying needing and Axios has **paramsSerializer** function for that (usable with Qs library). Please, how can i use Axios paramsSerializer function with your helper?

Resource objec

[2017-04-07 13:52] christianmalek commented on #8
You can pass each action a request config. The property's name is `requestConfig`.

Example:
[code]

[2017-04-07 14:23] elceka commented on #8
Thank you for fast reply, but that solutions (yours and my) wont work. HTTP request is without params of the URL.

[2017-04-07 14:41] christianmalek commented on #8
I'll investigate this issue later today.

[2017-04-07 16:01] christianmalek commented on #8
@elceka Please update your npm package.

[2017-04-07 19:49] elceka commented on #8
Thank you, its working.
But now, all actions have set request config, but i set this option only in action for list of models.

Example of store:

[code]

Produced URL for getting one model:
[code]

[2017-04-07 20:17] elceka commented on #8
Issue is on this new line of code from Resource class:
[code]
Maybe, params object should not be set if requestConfig object is empty.

[2017-04-07 20:38] elceka commented on #8
Thank you again, it is working, all is only about implementation.

[2017-04-07 20:38] #8 closed

[2017-04-07 21:49] christianmalek commented on #8
Great idea. I'll change this tomorrow and let you know!

[2017-04-07 21:53] christianmalek opened #9 "Params should only be appended if there is a paramsSerializer fn"
See https://github.com/christianmalek/vuex-rest-api/issues/8

[2017-04-08 19:11] #9 closed

[2017-04-08 19:25] christianmalek commented on #9
@elceka: Please see https://github.com/christianmalek/vuex-rest-api#query-params

[2017-04-08 20:03] elceka commented on #9
It is working, thank you.

[2017-04-08 20:03] christianmalek commented on #9
Thanks for using this package :)

[2017-04-17 14:55] christianmalek commented on #5
At the moment I see no need for "better" documentation. I'll close this issue.

[2017-04-17 14:55] #5 closed

[2017-04-25 17:44] petrroda opened #10 "Usage problem"
Hi,

I have a problem using your library. Could we please get in touch.

Best regards
Petr

[2017-04-25 18:51] christianmalek commented on #10
Please ask your question in this issue.

[2017-05-05 05:34] elceka opened #11 "Remove console.log()"
Please remove console.log() command from this file https://github.com/christianmalek/vuex-rest-api/blob/master/src/Resource.ts#L83

[2017-05-05 05:38] elceka opened #12 "How to for concept of Vuex modules using"
Hi, please, can you write some hint or how to for using your library with Vuex concept of modules?
https://vuex.vuejs.org/en/modules.html

[2017-05-05 06:09] #10 closed

[2017-05-05 09:34] christianmalek commented on #12
Hi @elceka,

If you want to modules, just create the resources, then create the stores and pass them to the `Vuex.Store` constructor like this:

[code]

[2017-05-05 09:40] christianmalek commented on #11
I'll do it later!

[2017-05-05 09:52] christianmalek opened #13 "update README"

[2017-05-05 09:53] christianmalek opened #14 "reconsider convenient calling method for actions"

[2017-05-05 09:56] christianmalek opened #15 "create tests"

[2017-05-06 19:11] christianmalek commented on #11
This has to wait till next week.

[2017-05-09 08:37] caizhiming8 opened #17 "Why wrong in IE Browser"
Error reporting in IE browser

[2017-05-09 08:41] christianmalek commented on #17
Could you provide a screenshot?

[2017-05-09 12:04] caizhiming8 commented on #17
I do not use this plugin is not wrong.If i use this plugin IE browser to tell me is a syntax error, but google browser will not be given

[2017-05-09 12:07] caizhiming8 commented on #17
![2](https://cloud.githubusercontent.com/assets/24382557/25849938/0deb6946-34f3-11e7-90ab-ee4b4b76915a.png)
![Uploading 图片2.png…]()
![Uploading 图片2.png…]()

[2017-05-09 12:07] christianmalek commented on #17
I don't know which version of Internet Explorer you are using. But it's possible that it doesn't support ES2015 language features. So you have to use a transpiler like babel.

[2017-05-09 12:11] caizhiming8 commented on #17
My browser is IE 11.Do you mean that I still need to install other plugins?If so, what kind of plugin should I install?

[2017-05-09 12:24] caizhiming8 commented on #17
yes thank you

[2017-05-09 12:24] christianmalek commented on #17
I'll let you know when I publish it.

[2017-05-09 12:24] #17 closed

[2017-05-09 12:25] christianmalek opened #18 "publish ES5-compatible module"

[2017-05-10 13:14] sotaan opened #19 "Uncaught TypeError: Cannot match against 'undefined' or 'null'."
Hi,

I try to create an API module which will be used by other modules in my store to ask for data then apply my business logic on top of it.
Here is my `api.js` file:
[code]

my `store/index.js` file:
[code]

Here is the error I get from the console:
![capture d ecran 2017-05-10 a 15 13 03](https://cloud.githubusercontent.com/assets/9435918/25900323/5c117548-3593-11e7-98d8-ff658bea38c3.png)

[2017-05-10 13:25] christianmalek commented on #19
I don't see any error in your code. I'll investigate this next week. At the moment I'm pretty busy.

[2017-05-10 14:42] sotaan commented on #19
I just found that I needed to call my actions that way: `this.store.$dispatch('myaction', {})` to get it working.
Calling that way: `this.store.$dispatch('myaction', {})` will trigger the error.
I suggest that it must come from destructing assignment in your params in here:
[https://github.com/christianmalek/vuex-rest-api/blob/master/src/StoreCreator.ts#L97](storeCreator.ts)

try that:
`storeActio

[2017-05-10 14:45] christianmalek commented on #19
Thanks for figuring this out. I really need to create tests.

[2017-05-10 14:45] #19 closed

[2017-05-10 14:46] christianmalek opened #20 "make dispatch parameter optional"
See https://github.com/christianmalek/vuex-rest-api/issues/19

[2017-05-11 17:56] #11 closed

[2017-05-11 17:58] christianmalek commented on #19
@sotaan I updated this package. Now it should also work without passing an empty object.

[2017-05-11 17:59] christianmalek commented on #11
@elceka Fixed.

[2017-05-11 18:00] christianmalek commented on #20
Fixed in ff91326dedf11224d826f87c0037282d9ca4894d

[2017-05-11 18:00] #20 closed

[2017-05-11 18:00] christianmalek commented on #18
Done in ff91326dedf11224d826f87c0037282d9ca4894d

[2017-05-11 18:00] #18 closed

[2017-05-11 18:00] christianmalek commented on #13
Done in 63b33bf2f41d5cc23f0f2ccd773140c4697f8394

[2017-05-11 18:00] #13 closed

[2017-05-11 18:01] christianmalek commented on #14
Doesn't work.

[2017-05-11 18:01] #14 closed

[2017-05-11 18:02] christianmalek commented on #17
@caizhiming8 I've published a new version of the package. Please update and try it again.

[2017-05-11 21:14] christianmalek commented on #19
@sotaan I just saw another error in your code snippet. You have to destructure the params in the path fn.
False:
[code]
Correct:
[code]

[2017-05-17 09:33] caizhiming8 opened #21 "What's wrong？I use the v2 in my GooGle"
![Uploading 图片1.png…]()

[2017-05-17 09:38] christianmalek commented on #21
@caizhiming8 V2 isn't released now in npm.

[2017-05-17 09:39] caizhiming8 commented on #21
OK

[2017-05-17 09:40] christianmalek commented on #21
I've relased it now. But it's in a beta stage.

[2017-05-17 15:47] #21 closed

[2017-05-22 08:16] sotaan opened #22 "silent errors"
Using your module since 2 weeks I see in my projects that mutationFailureFn never got called even in case of failure.
Instead, module will call mutationSuccessFn with an `undefined` as payload which causing me a lot of headaches trying to figure this out.
Putting some `.catch()`or error callback to my `.then()` don't work (I tried in many places).
I'm currently preparing you a fiddle demonstrating

[2017-05-22 09:54] christianmalek commented on #22
Which version are you using?

[2017-05-22 09:58] sotaan commented on #22
V 1.0.2

David Mamane Full-Stack Web Developper, Admin Sys +33 (0)6 52 47 37 28 davidmamane@hellomojito.com [mickael@hellomojito.com]

Avis de confidentialité : Le contenu de ce document est juridiquement confidentiel. Il est réservé à l'usage de son destinataire. Ce document est couvert et protégé par le secret professionnel prévu et sanctionné par les dispositions de l'article 378 du Code Pénal.

[2017-05-22 10:11] christianmalek commented on #22
Which kind of error has been thrown?

[2017-05-22 10:13] sotaan commented on #22
This happens mostly when my API is down (network error or connection aborted) or when timeout(connection aborted only) is reached

[2017-05-22 10:19] christianmalek commented on #22
`vuex-rest-api` just catches the errors which will be thrown by `axios`. So this error should lie in the area of responsibility of `axios`.

[2017-05-22 10:21] sotaan commented on #22
how can axios return you ok with an undefined payload ????

[2017-05-22 10:22] christianmalek commented on #22
If axios doesnt identify the response as error, vuex-rest-api won't know.

[2017-05-22 10:26] christianmalek commented on #22
Just let me know when your fiddle is ready. I really need more information.

[2017-05-29 21:46] christianmalek commented on #12
I'll close this issue. If you have any further queustions don't hesitate to ask.

[2017-05-29 21:46] christianmalek commented on #22
@sotaan Did you find a solution to your problem?

[2017-05-31 20:44] christianmalek commented on #22
I'll close this issue due to inactivity. If you think this is inappropriate feel free to issue it again.

[2017-05-31 20:44] #22 closed

[2017-05-31 20:46] christianmalek opened #23 "Update vue-auth section in v2 branch"
The explaination of using websanova/vue-auth with v2 of vuex-rest-api is error-prone.

[2017-06-10 16:05] Hobbs1210 commented on #12
Does the same method apply to 2.0 ?
Passing the created Vapi resource to vuex.store dose not seem to work.

[2017-06-10 16:17] christianmalek commented on #12
I can only answer you from my mobile Phone at the moment.

Did you call the Vapi.getStore() method? Please see step 4 in https://github.com/christianmalek/vuex-rest-api/blob/v2/README.md#steps

[2017-06-10 16:25] Hobbs1210 commented on #12
Yes,  getStore() is called. The module shows up under $store.state, but it's empty.

[2017-06-10 16:29] christianmalek commented on #12
I'll investigate this issue.

[2017-06-10 19:19] christianmalek opened #24 "Issue with using vuex-rest-api as store module"
See https://github.com/christianmalek/vuex-rest-api/issues/12

@Hobbs1210 Could you please provide a code snippet? I tried to use it as module and it works without problems.

[2017-06-10 19:20] christianmalek commented on #12
I created a new issue. Please continue the discussion here: https://github.com/christianmalek/vuex-rest-api/issues/24

[2017-06-10 19:20] #12 closed

[2017-06-10 19:28] Hobbs1210 commented on #24
@christianmalek issue has been resolved.I had a coding issue on my end. Thank you for your help.

[2017-06-10 19:29] christianmalek commented on #24
Awesome!

[2017-06-10 19:29] #24 closed

[2017-07-06 09:38] christianmalek opened #26 "Add possibility to use arbitrary action fns"

[2017-07-27 21:32] christianmalek commented on #15
Add https://github.com/typicode/json-server for tests

[2017-07-27 21:33] christianmalek commented on #15
Use circle-ci

[2017-07-28 13:05] christianmalek commented on #15
Add Git precommit hook with transpiler and test runner, same procedure for city test

[2017-07-28 22:22] christianmalek opened #27 "check if addAction(options)'s options.property property has to be required"

[2017-07-28 22:23] christianmalek opened #28 "consider property changes for delete requests"

[2017-08-04 15:25] marceloavf opened #29 "Serialize parameters to get something easy"
How can I pass some params like this without having to show each one of it, because this API works with all params and also with only one.

**This is the API:**
[code]

---------

**These are the codes:**
[code]

second one:
[code]

**Passing them to it, making it dynamic:**
[code]

---------

By the way, awesome package.
Thank you!

[2017-08-04 15:36] christianmalek commented on #29
I'm not sure if I understood your question. Please have a look at this: https://github.com/christianmalek/vuex-rest-api#query-params

[2017-08-04 16:14] marceloavf commented on #29
It worked, I just apply queryParams to true as your doc said.
[code]
Thanks!

[2017-08-04 16:14] #29 closed

[2017-08-04 16:14] christianmalek commented on #29
Awesome :)

[2017-08-04 19:40] marceloavf opened #30 "How to change a mutation"
I'm trying to change a mutation that createStore has done, I found in the docs that this could execute someting when it success:

[code]

But my problem is that I need to concat this state with the old one, is that possible?

Thanks!

[2017-08-04 19:59] christianmalek commented on #30
Oops! There is an error in the documentation. I confound the comments for `mutationSuccessFn` and `mutationFailureFn`.

The method signature looks like `function (state, payload)`, so `state` is the store state and`payload` is the response from your API.

[2017-08-05 11:34] marceloavf commented on #30
Is there a way to do it ?
Or I need to do this inside another action/mutation?

[code]

Thank you!

[2017-08-05 13:11] #30 closed

[2017-08-05 14:33] christianmalek commented on #30
Glad you found the error. :)

[2017-08-21 12:35] elceka opened #31 "New instance (reuse) of module"
Hi,
please, how i can make a new instance of module?
So, i need use same module in multiple namespaces, but with different state of that module.
Thank you.

[2017-08-21 13:14] christianmalek commented on #31
I didn't consider this functionality. But it should work like this if you are using version 1 *of vuex-rest-api*:

[code]

[2017-08-22 05:40] elceka commented on #31
Thank you, it's working.

Little correction of your example:

[code]

[2017-08-22 13:01] christianmalek commented on #31
I've just rethought the store creation method. It uses `Object.assign` to create **only shallow** copies. According to your state it's possible that they share references.

Please have a look at the following code snippet:
[code]
`propertyA` will be copied by value, but `propertyB` will only be copied by reference. If `propertyB` changes one of it's properties, these changed will be applied to eve

[2017-08-22 13:12] elceka commented on #31
So i've try it in my app and it is OK, i have a multiple instances of same Vuex model between Vuex namespaces. I've fill instance of model in one namespace and it is filled, other instance of the same model in another namespace has been empty.

[2017-08-22 13:15] christianmalek commented on #31
See *Module reuse* in https://vuex.vuejs.org/en/modules.html.

[2017-08-22 14:56] christianmalek commented on #31
@elceka: I've updated the module to v2.1. Now you can pass an `options` object to the `getStore()` method. Read [getStore()](https://github.com/christianmalek/vuex-rest-api/blob/v2/README.md#getstoreoptionsobject) for more details.

[2017-08-22 16:13] christianmalek commented on #26
This is already possible and documentet under https://github.com/christianmalek/vuex-rest-api#add-additional-actions-and-mutations-to-the-store

[2017-08-22 16:13] #26 closed

[2017-08-22 16:13] #31 closed

[2017-08-23 13:33] colonelpopcorn opened #32 "Dispatching POST request doesn't send the second argument"
I've got a super simple express.js server up and running with body-parser. I can successfully send a request and receive it on the server, but when I log the body of the request it's empty. I tried to make a request with postman and was able to get the object on the server, but I had to set content-type to x-www-form-urlencoded. I went back to my code and created a new Axios instance with content-

[2017-08-23 14:15] christianmalek commented on #32
Your server should work fine. You have to dispatch the actions as written here: https://github.com/christianmalek/vuex-rest-api#calling-the-actions

[code]

[2017-08-23 15:19] colonelpopcorn commented on #32
I've changed the dispatch as shown: `this.$store.dispatch("addTodo", {data: body});`, and I still get an empty json object on the server. Is there anything special that needs to happen for the data to be sent to the server properly? Does Axios normally send the data object as a request body? I'm also logging my object before sending it and confirming that the expected data is there before sending

[2017-08-23 15:40] christianmalek commented on #32
Yes. This should work.

How do you log it? If you use an axios interceptor you have to return the config ( see https://github.com/mzabriskie/axios#interceptors).

[2017-08-23 15:42] colonelpopcorn commented on #32
I logged it on the server with a console log. I figured out with Postman that it was improperly formatted JSON that was the problem. I fixed it on the client and I can now send items to the server. Thank you for the help!

[2017-08-23 15:42] #32 closed

[2017-08-23 15:48] christianmalek commented on #32
Glad you find the solution by yourself. :)

[2017-08-24 15:35] christianmalek commented on #27
It's optional since v2.0

[2017-08-24 15:35] #27 closed

[2017-08-24 15:36] christianmalek commented on #28
The state has to be changed manually with the `onSuccess` option.

[2017-08-24 15:36] #28 closed

[2017-09-13 11:47] elceka opened #34 "How we can change Axios headers"
Hi Chris,
please, how we can manage Axios headers at created Vapi instance?
For example, if we need add Authorization header for API after successfully login of user or so on...
Thank you.

[2017-09-13 12:00] christianmalek commented on #34
At the moment it's not possible to change the properties of the passed axios instance.

What would be your favorite way to implement this? I thought about adding an additional param to the `onSuccess` and `onError` functions so that you can access the Vapi axios instance.

Example:
[code]

[2017-09-14 07:18] elceka commented on #34
Hi Chris,
this solution is usable, but this change Axios instance in only one Resource. How we can change Axios instance from others Resources?

For example, we have Resource with name User. User resource have action Login and some others actions. Server API for Login action don't require an authentication HTTP header. If User login action has been successfully done, we can set authentication head

[2017-09-14 12:26] christianmalek commented on #34
Per default vuex-rest-api uses the global axios instance. I didn't test it yet, but shouldn't this work with the implementation example I posted above?

If you need to use a specific axios instance you could pass it to every resource constructor so that changes in the axios instance from one resource would affect the other resources as well.

Also you would have access to the axios instance. So if

[2017-09-14 12:34] elceka commented on #34
I use Vapi wrapper around Vapi for configuration some needed things and for configuration of Axios interceptors for handling with HTTP authentication header.
All Resources is made on that wrapper.
And then I use onSuccess function at the Resource User login action for store API token locally. Axios interceptors check local API token on each request and set HTTP header.

[2017-09-14 12:44] elceka commented on #34
localAuth.js
[code]

ApiWrapper.js
[code]

user.js
[code]

[2017-09-14 13:43] christianmalek commented on #34
Mhm. I like this and think I'll adapt this Wrapper to the current version so that it's backwards-compatible. But don't expect it to happen this week. I'm short on time at the moment.

[2017-09-15 00:10] christianmalek opened #35 "Make axios instance accessible"
See https://github.com/christianmalek/vuex-rest-api/issues/34

[2017-10-02 16:30] leogout opened #36 "Alter body or header dynamically"
Hello, is there a way to change the body or the header of the request when it gets called such as the `pathFn` ?

A use case:
I dispatch a `"connexion"` action:
[code]
In this example, my component emitting the action is holding the request's body. If I change it here, I break the api call. If I have to transform it into a FormData() object, I have to do it in place into the component.

Is there a

[2017-10-02 16:50] christianmalek commented on #36
Hi! Thanks for the compliment. Actually it's not possible at the moment. But I've already tracked this issue. See https://github.com/christianmalek/vuex-rest-api/issues/34

[2017-10-02 17:29] leogout commented on #36
Oh sorry, I didn't found that issue...
I have some spare time this week, do you accept PRs ?

[2017-10-02 17:30] christianmalek commented on #36
PRs are very welcome.

[2017-10-03 09:44] leogout commented on #36
Hello, after a few attempts, I've come to the conclustion that it wouldn't be practical without breaking changes.
Sorry for that, I'll try again when I get more spare time.

[2017-10-03 19:53] marceloavf commented on #15
Is there some easy way to do unit tests with `vuex-rest-api` ?

[2017-10-03 20:01] christianmalek commented on #15
@marceloavf I didn't think out anything yet. But since it's only a store creator you're able to use the standard vuex testing utilities (see async actions in https://vuex.vuejs.org/en/testing.html)

[2017-10-10 23:58] dboune opened #38 "Typescript unable to locate declaration file"
- Are you using the newest version of vuex-rest-api? `YES: 2.2.1`
- Did you read the README? `YES`
- Did you check the existing issues? Maybe there's already a solution to your problem. `YES`

Using typescript, though the module has `.d.ts` files, I receive the error:

Adding a single line to `package.js` providing the path to index.d.ts seems to resolve the issue.
[code]

[2017-10-11 03:21] dboune opened #39 "Typescript: ResourceActionOptions lists method option as required"
- Are you using the newest version of vuex-rest-api? `YES: 2.2.1`
- Did you read the README? `YES`
- Did you check the existing issues? Maybe there's already a solution to your problem. `YES`

In this case the `method` property is set by the `get` method of Vapi, so method is not required. Additionally `Resource.add()` defaults the method property to `get`.

[code]

  Property 'method' is missing

[2017-10-11 09:31] christianmalek commented on #38
Could you PR it?

[2017-10-11 09:34] christianmalek commented on #36
I'll close this issue for now. Feel free to create a new issue if required.

[2017-10-11 09:34] #36 closed

[2017-10-11 18:25] dboune commented on #38
I would be happy to.. I'll try to do that today, internet permitting. Fires in my area are making things a bit rough.

[2017-10-11 19:07] christianmalek commented on #38
Oh. Hope you're doing good. :/

[2017-10-13 12:11] marceloavf opened #40 "How to dynamically set baseURL"
Some of my clients will receive some notifications from their servers, so I need to dynamically set the `baseURL` for each one of them, the only way I find it right now is passing them in the `localStorage` and consuming that before config are set.

Is there another way to dynamically change the baseURL?

Thanks!

[2017-10-13 12:23] christianmalek commented on #40
Changing the pathes after the creation of the store isn't possible because the pathes are only accessible via the closure `completePathFn` function.

[2017-10-13 12:29] christianmalek commented on #40
@marceloavf I edited my answer.

[2017-10-13 12:50] marceloavf commented on #40
Great idea!
How can I create another instance of Vapi inside mounted/created Vue hook?

[2017-10-13 12:54] christianmalek commented on #40
I just revisited my code and saw that it doesn't work at the moment. I'm sorry. :/

I'll test it soon and let you know.

[2017-10-13 12:56] marceloavf commented on #40
No problem @christianmalek, thanks for the help and information.
I will try to figure out another way, just for now.

[2017-10-16 17:36] #38 closed

[2017-11-06 17:04] marceloavf opened #43 "Improve catch error to return response"
When using axios itself, you can use `error.response` to get the response of an error, e.g.:
[code]

But right now it only return the scope of the error, e.g.:
[code]

Is there a way to change that or I'm doing something wrong?

Thanks!

[2017-11-06 17:37] marceloavf commented on #43
Strange, seems to be something with axios https://github.com/axios/axios/issues/960
When response code is 500/401 it doesn't return a response.

[2017-11-06 17:40] christianmalek commented on #43
Ah, ok. An other possibility would be that the error output is just "beuatified" by Chrome/etc. So you should just try to access the `error.response` property. I'll close this. Feel free to reopen it.

[2017-11-06 17:40] #43 closed

[2017-11-07 22:27] MarcelBuian commented on #43
The error.response is undefined for me.
If I print error in console I get this:
[code]
Is there any way to see the status and response ?

I am using "axios": "^0.17.0"
and Chrome on Windows, Version 61.0.3163.100 (Official Build) (64-bit)

[2017-11-09 17:52] christianmalek commented on #40
@marceloavf Sorry for the late answer. I forgot this issue...

I just revisited the source code and come to the conclusion that I won't change it. I *could* make the baseURL accessible and create a public method in the store so that you can change the baseURLs of the resources before you create the store. But this will make the code dirty and hacky and that's not what I want.

Maybe someone else h

[2017-11-09 17:52] #40 closed

[2017-11-09 18:58] marceloavf commented on #40
No problem @christianmalek, don't worry, I already found a way to change it by using `localStorage`.

Since I use `electron with vue`, there is no secure problem, thank you for your answer!

[2017-11-27 04:34] dboune opened #44 "Request/Suggestion - path parameters vs query parameters"
I believe it would be helpful if there were either a way to filter the params prior to passing them to axios but after using them in the path without using `paramsSerializer`, or if they were just considered two separate things entirely. I would prefer the latter.

Unless I've missed something, without importing a serializer like `qs` and using it in `paramsSerializer` it does not seem possible to

[2017-11-27 06:54] christianmalek commented on #44
Hello Damian,

Thank you for your request. The decision of passing query parameters to the request URL or appending the data to the body is made during the Resource creation. So at the moment it's not possible to react on your suggested `query` property to only use query parameters when this field is set.

It could be possible to apply your suggestion, e.g. by wrapping the `Resource.requestFn` in

[2017-12-03 13:53] #39 closed

[2017-12-03 13:56] christianmalek commented on #39
Hello @dboune,

I'm sorry for the long response time. I fixed the bug in 606871517153ca1f4b2c2cdbcb5b83618bdccdee.

I don't want to change this because it could break the application from someone who depends on this default value.

[2017-12-03 20:39] dboune commented on #39
No worries, and thank you!

[2017-12-22 08:36] christianmalek opened #46 "Adapt docs to vuex version 3"
See https://github.com/vuejs/vuex/releases

[2017-12-22 08:37] christianmalek commented on #46
No changes necessary

[2017-12-22 08:37] #46 closed

[2017-12-28 13:55] apertureless commented on #34
How about saving the axios instance on the vm like a plugin. You could then access it with `$` and change your options.

[2017-12-28 14:59] christianmalek commented on #34
@apertureless So you would say that the responsibility of storing the axios instance should be decoupled from vuex-rest-api and just store it in the vm. Seems reasonable to me.

[2018-01-02 11:51] apertureless commented on #34
Yep. There are however various ways to to this.
You could also do some kind of dependency injection / pass the axios instance in your plugin.

[code]

You should also think about marking `axios` as a [peerDependency](https://nodejs.org/en/blog/npm/peer-dependencies/) . The benefit is, that you don't have conflicting versions of axios in projects.

If I install Vapi in my project, which is using an

[2018-02-05 16:17] ghenry commented on #34
Hi,
Any news on this? The reason I'm asking is that the error object only shows:

`state.error.<propertyName>: Error`

No actual detail there, whereas on the console log I see:

[code]
Thanks.

[2018-02-05 16:18] ghenry opened #47 "Axios errors"
Hi,

Related #34 and #35  The reason I'm asking is that the error object only shows:

state.error.<propertyName>: Error

No actual detail there, whereas on the console log I see:

Unhandled promise rejection
Error: Request failed with status code 404
Stack trace:
createError@webpack-internal:///./node_modules/axios/lib/core/createError.js:16:15
settle@webpack-internal:///./node_modules/axios/lib/c

[2018-02-05 21:05] christianmalek commented on #47
Hi!

As you can see in https://github.com/christianmalek/vuex-rest-api/blob/v2/src/Store.ts#L183 the Store just returns the rejected promise and that is what the script gets from Axios. Did you try to access it like written in https://github.com/axios/axios#handling-errors ? Maybe it's some "beautifying" from Chrome/Firefox/etc.

[2018-02-05 22:03] ghenry commented on #47
Here's a bit of my code:

[code]

Vuex object looks like
![screenshot from 2018-02-05 22-01-19](https://user-images.githubusercontent.com/159608/35831063-5cfac560-0ac0-11e8-862d-9f6d0c8a6843.png)

[2018-02-05 22:26] christianmalek commented on #47
I just tried it and it's how i've written. The browser sees the error and simplifies the output.

Also please have a further look at the data structure. You have to access e.g. `support.error.ip_address.response.status`.

[2018-02-05 22:29] christianmalek commented on #47
By the way: If you don't like the "error bag", you could also use async-await:

[code]

[2018-02-05 22:45] ghenry commented on #47
It's so weird. I see the red Error which means this `support.error.ip_address.response.status` should work, but I get this:
`
[Vue warn]: Error in render: "TypeError: _vm.support.error.ip_address.response is undefined" found in ---> <DiagnosticsMyIPAddress> at src/components/Diagnostics/MyIPAddress.vue <Container> at src/components/Layouts/Container.vue <App> at src/App.vue <Root>`

[2018-02-05 22:48] ghenry commented on #47
Helps if I could read!!! .response is Empty as only the .message is set.

![screenshot from 2018-02-05 22-47-34](https://user-images.githubusercontent.com/159608/35832860-b4adcc5c-0ac6-11e8-82d8-295edadf4a88.png)

[2018-02-05 22:51] christianmalek commented on #47
Please close the issue if your problem is solved.

[2018-02-05 22:52] #47 closed

[2018-02-06 16:00] christianmalek commented on #35
The axios instance is now available in the `onSuccess` and `onError` fns. See https://github.com/christianmalek/vuex-rest-api/blob/v2/CHANGELOG.md#260-06022018

[2018-02-06 16:00] #35 closed

[2018-02-06 16:01] christianmalek commented on #34
See https://github.com/christianmalek/vuex-rest-api/issues/35

[2018-02-06 16:01] #34 closed

[2018-02-12 15:30] elceka opened #48 "Returned promise from HTTP PUT method catch error on success response (v2)"
Hi,
i have problem with returned promise (probably from Axios?) on success PUT request with HTTP status code 200. Promise catching error, but i don't know why. If i try pure Axios with PUT method, then returned promise is OK. Before some days i update packages of my project (latest vuex-rest-api and required Axios version), but i don't know, if is this a problem.

[2018-02-12 16:26] christianmalek commented on #48
Hi elceka,

Please try to use an older axios version with the current vuex-rest-api.

[2018-02-13 07:53] elceka commented on #48
I've renewed node_modules directory after trying some lower versions of Axios and vuex-rest-api and after that it is OK... :worried:

[2018-02-13 07:53] #48 closed

[2018-02-13 07:54] christianmalek commented on #48
I tried yesterday the newest version of vuex-rest-api and Axios and had no problems. Sorry, I can't reproduce this failure. :(

[2018-02-13 13:53] ghenry opened #49 "Global axios settings"
Hi,
I've been following #34 and see there is https://github.com/christianmalek/vuex-rest-api/blob/v2/CHANGELOG.md#260-06022018 now, but could you add an example?

For instance, I want to do this globally (withCredentials: true), rather than per request:
[code]

[2018-02-13 14:14] christianmalek commented on #49
Hi ghenry,

here is an (untested) example: You could append the axios instance on the vm and access its requestConfig if required.

[code]

Then you could access `this.axios` in your components and get/set its properties.

[2018-02-13 14:16] ghenry commented on #49
Ah, thanks. I saw this at
https://github.com/christianmalek/vuex-rest-api#-axios but wasn't sure if
that was the correct way as it referenced vue-auth etc.

Cheers.

[2018-02-13 14:27] christianmalek commented on #49
I'll add an proper example to the docs to clarify this.

[2018-02-13 14:28] christianmalek opened #50 "add example of axios instance usage to docs"
See #49

[2018-02-13 23:16] Vad1mo opened #51 "Getters are ignored"
We are using vuex-rest-api 2.4.4 and I created a use case with modules that is working except `getters`. When I add the getters section they aren't added to the parent store.
According to the docs [add-additional-state-actions-and-mutations-to-the-store](https://github.com/christianmalek/vuex-rest-api#add-additional-state-actions-and-mutations-to-the-store) this should be possible as its just regu

[2018-02-14 07:08] christianmalek commented on #51
Hi @Vad1mo,

Yes, you have to add them separately.

[2018-02-15 09:57] #51 closed

[2018-02-27 16:10] wc-matteo opened #52 "Strange case of double-promise in production"
While developing locally, `this.$store.dispatch('...')` returns a promise. When the code is in production, it returns a promise that returns a promise (I need to use `await await this.$store.dispatch('...')`). Any idea why that is?

[2018-02-27 16:52] christianmalek commented on #52
I have no idea. Sorry.

[2018-02-27 19:30] christianmalek commented on #52
Maybe I could help if you provide a code snippet.

[2018-02-28 08:08] wc-matteo commented on #52
Thanks. I'll try to recreate a minimal repro.

[2018-02-28 11:42] wc-matteo commented on #52
Discovered the cause:

Taking out `"plugins": ["transform-runtime"]` from `.babelrc`, makes production code have the double promise.
(I removed the transform runtime, because I'm using babel polyfill)

[2018-02-28 11:42] #52 closed

[2018-02-28 11:43] christianmalek commented on #52
Glad you found it. 👍

[2018-02-28 17:31] christianmalek opened #53 "add example to README for binding of axios"

[2018-02-28 17:36] christianmalek opened #54 "Improvement ideas"
I'm willing to improve Vapi. Any ideas?

Things I'm planning to do are:
- create tests
- simplify the API, make it more intuitive (ideas how?)
- (maybe) add request and response interceptors so you are able to transform data or change axios config etc.

I would love to hear ideas from everyone who is interested in this project. :)

[2018-03-06 17:19] Vad1mo opened #55 "Id Parameter is always undefined"
I have this action definition

[code]

And I am dispatching like this:

Try 1:
[code]

Try 2:
[code]

Try 3:
[code]

In all cases the id is undefined. IMHO it should have an id.

[2018-03-06 17:22] christianmalek commented on #55
Hi Vadim,

There is another property `params`. Please see https://github.com/christianmalek/vuex-rest-api#calling-the-actions

[2018-03-06 17:33] christianmalek commented on #55
@Vad1mo I've updated my answer.

[2018-03-06 17:43] Vad1mo commented on #55
thank you for the quick response, this works perfectly. The example would be a perfect candidate for the readme :)
What confused me was this syntax `getPost({params: {someParam: 5, anotherParam: "foo"}})` it wasn't introduced (at least in the quick start) before as action and arguments.

[2018-03-06 17:43] #55 closed

[2018-03-06 22:46] christianmalek opened #56 "Add example in quick start section how to use params and data"
See #55

[2018-03-25 00:03] slurmulon commented on #54
I love the library, it has a clean interface and does an excellent job!

What do you think about supporting custom pre-flight validation methods on the non-idempotent HTTP methods (e.g. `POST`, `PUT`, `PATCH`)? Requests would only be sent out over the network if the provided request body passes the user's validation function, otherwise a custom error callback could be invoked.

One use case would

[2018-03-25 12:36] christianmalek commented on #54
Hello @slurmulon ,
custom pre-flight validation methods sound indeed useful and the integration with JSON Schema is also a neat idea I've never thought about. Thanks for your contribution and the compliment!

At the moment I'm waiting for changes on Vuex. Seems like there will be several big changes in the next major release.

[2018-03-25 12:41] christianmalek opened #57 "v3"
Feature ideas:
- custom pre-flight validation methods (see https://github.com/christianmalek/vuex-rest-api/issues/54#issuecomment-375934098)
  - integration with a JSON Schema validator e.g. [AJV](https://github.com/epoberezkin/ajv)
- make endpoints mappable via object/config file (see https://github.com/christianmalek/vuex-rest-api/issues/54#issuecomment-376005856)
- allow easy customization of s

[2018-03-25 21:40] webstractions commented on #54
First, this is a sweet resource. I have just stumbled upon it.

It would be great if the endpoints can be mapped via a configuration file, rather than chaining a bunch of `.get`, `.post`, etc methods to the new class (or `.add` this, `.add` thats).

Take an API such as TMDB with scores of endpoints, and it can get out of hand and hard to read.  There are a couple of javascript TMDB repos that hand

[2018-03-25 21:44] christianmalek commented on #54
@webstractions This seems also plausible to me. Thanks for your contribution!

[2018-03-25 22:15] webstractions commented on #54
@christianmalek I am working on something right now using this repo. Chances are, I will be writing a function to import the endpoint mapping and generate the gets, posts, etc via an `.add` loop of some sort. If you want, I can fork this and submit a PR for you.

[2018-03-26 06:41] christianmalek commented on #54
@webstractions PRs are always welcome. Please note that the base of this utility is written in TypeScript. So I will only accept PRs in TypeScript.

[2018-03-26 14:43] webstractions commented on #54
@christianmalek Yikes. I just noticed that. Looks like I need to pick up a book and do a little brushing up.

[2018-03-26 19:11] someone1 commented on #54
Maybe a CLI tool for parsing a swagger/OpenAPI spec file to an (typescript) output leveraging vuex-rest-api? Or a load function that takes a swagger spec and spits out a Vapi object?

Not sure how, if at all, this fits into this project. I can already generate a typescript client using swagger-codegen which does a LOT of the work for me, but I can't plug that into vuex without the manual boilerpla

[2018-03-27 06:16] christianmalek commented on #54
@someone1 The sounds good to me at first glance. But I think this will exceed the scope of vuex-rest-api because:
- I don't wanna maintain a CLI for this tool, also it would create an additional cognitive barrier (should I use the CLI or do it programmatically?)
- If I add an CLI there will be the question why other commands are not avaible through it and so on..-
- vuex-rest-api can be used with

[2018-04-03 12:23] vesper8 opened #58 "how to extract modules to separate files"
Hi there, I'm using the latest version and it's great and it's working fine if I set everything up from inside the store.js file

but I would like to abstract my resources to separate files, or at the very least to one file called Apis.js which is inside ./modules/Apis.js

Clearly I'm just brain-farting here but I don't know how to make this work. This is what I've got so far

store.js:
[code]

Ap

[2018-04-03 12:57] christianmalek commented on #58
Hello,

Please see `namespaces` in https://vuex.vuejs.org/en/modules.html

[2018-04-03 13:20] vesper8 commented on #58
I use vuex modules plenty, where the state, getters, mutations and actions are clearly defined. But I am confused when it comes to abstracting your Vapi construct to a separate file

Is there any chance you might provide a sample example on what it looks like when using Vapi please?

[2018-04-03 14:07] christianmalek commented on #58
Sorry, I don't understand your question. Could you please be more specific?

Every Vapi instance is made to create one store. If So If you need multiple stores you could just separate every one in a single file.

Example:
[code]

[code]

[code]

[2018-04-03 14:46] vesper8 commented on #58
thank you very much.. I simply wasn't exporting properly

I was doing
[code]

instead of

[code]

Now everything is working

Cheers!!

[2018-04-03 14:46] #58 closed

[2018-04-03 14:47] christianmalek commented on #58
Haha, good to hear. 👍

[2018-04-03 14:51] christianmalek commented on #58
@vesper8 If you want to use destructuring on default exports  you could do it this way: https://github.com/babel/babel/issues/3049#issuecomment-286205548

[2018-04-04 13:11] christianmalek opened #59 "add alternative way of adding actions"
I'm planning to add a very simple way of adding actions as string.

At the moment actions can be added like this:
[code]

The alternative version I'm looking forward to looks like this:
[code]

Or maybe like this:
[code]

One nice side effect would be that you didn't have to write the path function if it's that easy. The params will be detected (e.g. `:id`) and automatically added.

**Please consi

[2018-04-10 15:23] vesper8 opened #60 "empty baseUrl results in undesired default '/api'"
As a result of wanting to use @websanova/vue-auth, I set a global axios root like this:

[code]

This results in my auth calls being made to /api/auth/login

This seems to be conflicting with my vapi resources however.

Previously I was setting the baseUrl to '/api' in each of my vapi resources

But this was resulting in calls being made to /api/api/posts

I tried setting baseUrl to '' as well as

[2018-04-10 15:32] christianmalek commented on #60
Hello @vesper8 !

The baseURL gets normalized, see https://github.com/christianmalek/vuex-rest-api/blob/v2/src/Resource.ts#L110.

There could be a bug. The problem could be that - if `axios.defaults.baseURL` is set AND `baseURL` in the Vapi constructor - that both baseURLs will be concatenated.

[2018-04-10 17:23] #60 closed, assigned to christianmalek

[2018-04-10 17:25] christianmalek commented on #60
I've fixed it. See https://github.com/christianmalek/vuex-rest-api/blob/v2/CHANGELOG.md#270-10042018 for more info.

[2018-04-10 17:27] vesper8 commented on #60
awesome thanks for the quick fix!!

[2018-04-10 17:54] vesper8 opened #61 "using with websanova for making certain actions auth-only"
I have websanova/vue-auth working as far as logging in. On the backend I use Laravel and JWT

This works great.

Now I want to make it so that certain actions, such as the action of adding a new post, can only be performed if the user is authenticated

I tried to follow what the readme says but I'm stuck and I think I'm not fully understanding.

This is what my post module looks like before

[code

[2018-04-10 18:06] christianmalek commented on #61
Could you please check if Vue.axios is defined on the following line?

[code]

[2018-04-10 20:18] vesper8 commented on #61
Nice catch.. it was undefined. I guess this makes sense since I was running the auth-related code below where I imported the store

I have abstracted my auth-related code to a auth.js now, which looks like

[code]

and I moved that import above the import for store.js

now when I do console.log(Vue.axios) I get

[code]

I'm not sure if this is what it's supposed to say.

In any case.. I just reali

[2018-04-10 20:28] christianmalek commented on #61
The simple explanation is: I used it with Vue.axios and it worked. I didn't try to use it with the global axios instance. If this is working wihout it all the better. PRs are welcome if you want to improve the README. :)

[2018-04-10 20:30] christianmalek commented on #61
You could use multiple Vapi stores with different axios instances. If you don't pass an instance it will default to the global axios instance which appearantly vue-auth is using.

[2018-04-10 20:38] christianmalek opened #62 "Improve readme section of websanova/vue-auth"
It looks like Vue.axios isn't necessary to use vue-auth (see #61). It defaults to the global axios instance. Therefore the readme should be improved.

[2018-04-11 14:34] christianmalek commented on #61
I'll close this. If you have further questions feel free to open a new issue or comment here again.

[2018-04-11 14:34] #61 closed

[2018-04-13 07:43] christianmalek commented on #62
Done in 11b09759e5d0eff618751934593f2d402a80b56d

[2018-04-13 07:43] #62 closed

[2018-04-13 08:04] christianmalek commented on #56
Done in https://github.com/christianmalek/vuex-rest-api/commit/f9158ae49c5b8b722d23940a0f3b088697d75127

[2018-04-13 08:04] #56 closed

[2018-04-13 08:45] christianmalek commented on #23
Fixed in #62

[2018-04-13 08:45] #23 closed

[2018-04-13 14:36] vesper8 opened #63 "can we have a onSuccess from inside the component?"
Right now my vuex module looks like this

[code]

And my component includes this:

[code]

I struggle to perform an action when the call to this.getNav has completed.

I have tried setting a watcher on pending.nav which kind of works but produced some bad results. And I could maybe do it by setting a state inside the vuex module and then adding a watcher on that. But really what would work a lot b

[2018-04-13 15:06] christianmalek commented on #63
Hi!

Every actions returns an promise. So you could catch errors with try-catch like this:
[code]

[2018-04-13 16:14] vesper8 commented on #63
hey wow! that's awesome! i've never had a chance to use async/await until now but wow that just works! it's magic! very useful indeed!!

thanks for showing me!

[2018-04-13 16:14] #63 closed

[2018-05-23 00:30] slurmulon commented on #54
What about a global `onError` interceptor that can be overridden at the resource entity level?

I imagine this might be tricky to achieve given module namespacing in `vuex`, but I think it would be very useful - that way you don't have to write/import the same `onError` snippet in every single resource entity.

[2018-05-23 00:33] christianmalek commented on #54
Seems reasonable. I've added it to the list!

[2018-07-03 07:55] gcbirzan opened #67 "Broken type definitions for getStore"
`Vapi.getStore` is declared as returning a `Store` object, but if you pass `createStateFn: false`, that's not the case.

First of all, I think that API is silly. There should be a different function, maybe `getStoreObject` that abstracts this. But, even if you don't agree with that idea, the type definition needs to be updated.

[2018-07-04 13:35] christianmalek commented on #36
@leogout Since version 2.8.0 it's possible to set headers dynamically.

[2018-07-04 15:07] christianmalek commented on #67
I'll close this issue. Feel free to reopen it.

[2018-07-04 15:07] #67 closed

[2018-07-29 17:27] arjanski opened #68 "Problem recreating example from docs"
Hello,

First of all thank you for this great helper tool. I'm having troubles using it (see below), but looks just like what my project needs. I hope a noob question is okay:

When I try recreating the example code from the docs, vue devtools show me a state with empty objects (e.g. `posts: Array[0]`, ``pending: ... post: false ... ).

I've set up a new Vue project using vue-cli 3, installed vuex

[2018-07-29 17:35] christianmalek commented on #68
Hey!

You also have to map the actions to be able to use it with `this.<methodeName>`. See https://vuex.vuejs.org/guide/actions.html#dispatching-actions-in-components

[2018-07-29 17:43] arjanski commented on #68
Wow, thanks for that lightning quick response 👍

So I guess it was a noob question and not my usage of vapi. Mapping the actions didn't do the trick (yet), but I'll investigate some more. Thanks again!

[2018-07-29 17:47] christianmalek commented on #68
OK. Then you also didn't register your vuex store properly. Please look at this example: https://github.com/vuejs/vuex/tree/dev/examples/counter

Specifically look at this file: https://github.com/vuejs/vuex/blob/dev/examples/counter/app.js

You don't have to import the store in your `Home.vue` file. Therefore you need to import it in your `app.js` file and set it as property from your new Vue ins

[2018-07-29 17:57] arjanski commented on #68
Thanks once again, makes sense. I took out the store reference from Home.vue, my app.js (created automatically by vue cli) should work

[code]

There's still something wrong, but just shows me that I need to study the vuex docs more carefully. Thank you again for pointing all this out 👍

[2018-07-29 17:59] christianmalek commented on #68
No problem! Maybe just try to grasp the concepts of Vuex first with one of their examples and then add vuex-rest-api. I think this will make your life a lot easier.

[2018-07-29 17:59] #68 closed

[2018-08-05 09:53] go4cas opened #69 "[QUESTION] - Store State Sync"
For the following `Vapi`:

[code]

Having a component that calls `this.listPosts();` in the `created`. This populates the `posts` correctly in the store.

Now, when updating one of the posts using `updatePost`, it only updates the `post` object, and not the `posts` array of object. So, this creates an "out-of-sync" perception.

Is there an easy way to keep these in sync? Or, is the only way to cal

[2018-08-06 09:05] go4cas commented on #69
Thanks, @christianmalek. That did the trick!

Might be an idea for a future enhancement to somehow include this in the library.

Thanks for the cool lib!

[2018-08-06 09:12] christianmalek commented on #69
Thanks for the compliment!

At the moment I don't know how I should integrate your request into Vapi without making it more complicated. If you have precise ideas I would love to hear them. :)

[2018-08-06 09:12] #69 closed

[2018-08-08 12:36] BorisTB opened #70 "Optimistic updates - beforeRequest"
Hi,
first of all, thank you for this amazing tool.

There's just one thing I miss in this library.. is it possible to implement option to do changes to store before request is sent? E.g. I want to delete table row in view as soon as users clicks on delete, and if request fails then I'll add that row back to store.

Something like beforeRequest or optimisticUpdate option.

[2018-08-08 17:29] BorisTB commented on #70
I'm not really skilled with typescript, but this works for me:
https://github.com/christianmalek/vuex-rest-api/pull/71/files

[2018-08-08 17:35] christianmalek commented on #70
Hey! Thanks for your PR. I'll test it and respond to you in ~1 week.

[2018-08-09 10:09] go4cas opened #72 "Adding getters not working"
When adding actions or mutations to the Vapi instance, works fine. But, when trying to add a `getter`, using this: `positionStore.getters.getField = getField;`, I get this error: "**_Cannot set property 'getField' of undefined_**". Am I missing something?

[2018-08-09 10:27] go4cas commented on #72
Okay, doing this solved the issue:
[code]

[2018-08-09 10:27] #72 closed

[2018-08-12 13:05] christianmalek commented on #70
I've merged it. Thanks again for your contrib!

[2018-08-12 13:05] #70 closed

[2018-08-13 13:51] christianmalek commented on #54
What do you guys think about an alternative syntax of adding the actions?

Here are some ideas:
[code]

[2018-08-15 04:04] go4cas opened #77 "[QUESTION] - Pre API Call Transformation"
First off ... awesome library!

I want to know if there is a way of transforming the request payload before calling the API? At present I can use `OnSuccess` to transform the response payload I get back from my back-end API, but for my use case I need to transform the payload, before `POST` and `PUT` requests.

[2018-08-15 04:27] go4cas commented on #77
Okay, I see that in `2.9.0` a new `beforeRequest` was introduced. I'm just not sure how to change the data object using this. Or, should I rtaher do the transformation in `requestConfig` -> `transformResponse`?

[2018-08-15 05:39] go4cas commented on #77
I got it working by using `beforeRequest`, and setting the `state` object to the "write format", as opposed to the `data` object. I then update the state object to the "view format" in the `onSuccess`. Is this the optimal way of achieving my use case? Or, is there a better way of doing this?

[2018-08-15 07:36] christianmalek commented on #77
Hey @go4cas !
The `beforeRequest` method was added to update your store optimistically (before you got the response from the server with the actual data).

If you need to transform your data doing it via `requestConfig.transformRequest` is at the moment the proper way to go. Mhm. Maybe I should another method to do this without fiddling in the requestConfig`. 🤔

[2018-08-17 11:07] appinteractive opened #78 "How to use vuex-rest-api with nuxt.js auth-module"
Hey I have the following issue...

I need nuxt [auth-module](https://github.com/nuxt-community/auth-module) to work with that package but at the point of creation I cant pass any axios instance, and thre is no global one. The result is that I get 401 response as I cant use the correct axios instance with the auth logic. Any idea?

in Nuxtj.s I create a store

[code]

users store
[code]

[2018-08-17 11:08] christianmalek commented on #78
Yes. It works with Nuxt.

[2018-08-17 11:12] appinteractive commented on #78
@christianmalek sorry I was not ready with the descriotion. I have an issue in conbination with nuxt-auth as the axios instance can`t be passed. At lease I don't know how.

[2018-08-17 11:52] christianmalek commented on #78
Could you please provide a link to nuxt-auth?

[2018-08-17 12:51] appinteractive commented on #78
sure added it to the description, ment auth-module and not nuxt-auth...
https://github.com/nuxt-community/auth-module

[2018-08-17 12:53] appinteractive commented on #78
currently I am at the state of having something ugly like this:
[code]

with that I still have to call that on the client to instantiate the module with the correct axios instance

[code]

[2018-08-17 13:54] appinteractive commented on #78
found a solution for now:

I can register it by using the ```registerModule()```method on the store, inside a plugin that is loaded after the axios initialization.

plugins/init-store-modules.js
[code]

store/index.js
[code]

You could also register that inside the plugin but I like to have the module registration inside the store.

@christianmalek Maybe that should be added to the readme with an

[2018-08-17 13:59] christianmalek commented on #78
Hey @appinteractive !

I've just tried 30min to make the axios instance accessible to vuex-rest-api in combination with nuxt-auth (which uses nuxt-axios) and didn't find any solution. I didn't think about registering the store with an action. Nice idea!

At the moment I also don't know how I could simplify this process. Do you have any ideas?

I will definitely add this to the readme. Thanks!

[2018-08-17 14:02] appinteractive commented on #78
@christianmalek I think you could provide your package as a nuxt module, but that I would not know how to register the stores in a sane way.

[2018-08-27 08:49] christianmalek commented on #77
I'll close this. Feel free to open an new issue.

[2018-08-27 08:49] #77 closed

[2018-08-27 11:18] christianmalek commented on #44
I've added it to #57 and will close this issue. Feel free to open a new one.

[2018-08-27 11:18] #44 closed

[2018-09-01 22:50] andresmrm opened #79 "Caching requested data"
Hello! And thanks for creating and maintaining this great lib!

I've read the README and checked the issues, but couldn't find a way to "cache" the data to avoid requesting it again.
For example, my view requests the data. Then I route to another view, and later I come back. The data will be requested again.

One option would be to check in the component, before requesting the data, to see if the

[2018-09-01 23:12] christianmalek commented on #79
Hi Andrés,

thanks for your compliments!

## Caching
I think the easiest way to provide caching would be to make axios do it for you. https://github.com/RasCarlito/axios-cache-adapter seems promising. Just create an axios instance with this adapter and pass it to the Vapi constructor (see [docs](https://christianmalek.github.io/vuex-rest-api/api.html#axios)).

## Getting the `year` value in the on

[2018-09-01 23:17] christianmalek commented on #79
Some ideas how you could get the params in the `onSuccess` at the moment: You could create a new property in the store and save it in the beforeRequest. Then you could call it in the onSuccess fn.

It's not pretty but it works.

Example (didn't test it)
[code]

[2018-09-02 21:35] andresmrm commented on #79
Thanks for the quick replies!

Is it possible to avoid the request from happening from inside `beforeRequest`? So it can check if the data is already in the store and return it, instead of doing the request.
And about the way of passing the `year` to the `onSuccess` using another variable like that, wouldn't it be possible that multiple requests, with delayed or out of order responses, mess up wit

[2018-09-02 21:47] christianmalek commented on #79
This is not possible at the moment. If you use https://github.com/kuitos/axios-extensions#cacheadapterenhancer this shouldn't be a problem because the request will only be sent to the server if the cache expires or the response isn't cached yet.

Yep, race condition. :(

Caching is something I didn't think about during the development of vuex-rest-api. Currently I'm developing version 3 of vuex-re

[2018-09-02 21:57] andresmrm commented on #79
I feel I would have a better control over the cache doing it at vuex-rest-api level. But since it lacks some features needed for it, I guess I'll try axios-extensions, forcing data reload just after data modification.

I understand, no problem. And thanks for considering it for v3. Feel free to close this issue if you feel so.
Thanks again for all the help!

[2018-09-02 22:00] christianmalek commented on #79
I think so, too. :)

Thanks again for all the help!

Anytime! Little note: I don't know when I'll release v3. Approximately in 2-3 months without guarantee!

Feel free to open a new issue if you have any questions.

[2018-09-02 22:00] #79 closed

[2018-09-06 09:59] Tropicalista opened #80 "Using webpack: vuex_rest_api__WEBPACK_IMPORTED_MODULE_0___default.a is not a constructor"
I'm using webpack to import vuex, but I got this error:

 vuex_rest_api__WEBPACK_IMPORTED_MODULE_0___default.a is not a constructor

Here's my code:
[code]

Then I call it from my store:

[code]

[2018-09-06 11:16] christianmalek commented on #80
I don't see any problem in your code. Please check your webpack config.

[2018-09-06 11:39] christianmalek commented on #80
Wow. This is awkward. I will fix it. Thanks!

[2018-09-06 11:39] #80 closed

[2018-09-06 11:45] christianmalek commented on #80
It seems like I accidentally merged this into the v2 branch.

[2018-09-06 16:00] Tropicalista opened #83 "Correct way to change state"
What is the correct way to change state property? I'm trying:

[code]

[2018-09-06 16:26] christianmalek commented on #83
Hey @Tropicalista,

this is the correct way. Doesn't it work?

[2018-09-06 16:31] Tropicalista commented on #83
No it doesn't work...state does not change

[2018-09-06 16:32] Tropicalista commented on #83
Do you have any codesandbox template that I can use to show you my code?

[2018-09-06 16:45] christianmalek commented on #83
I've created a simple example for you: https://codesandbox.io/s/6woq3156pn

[2018-09-06 17:00] Tropicalista commented on #83
Here's my code: https://codesandbox.io/s/oj247r3y9z

[2018-09-06 17:10] christianmalek commented on #83
`id` is not in the scope of `onSuccess`. At the moment it's *not* easily possible to access the params. Please read here for more information: https://github.com/christianmalek/vuex-rest-api/issues/79

If possible you could just return the id via the response and access it with the payload. Then you could do sth. like this:

[code]

[2018-09-06 17:36] Tropicalista commented on #83
I will find another solution.
Thanks!

[2018-09-06 17:37] christianmalek commented on #83
No problem!

[2018-09-06 17:37] #83 closed, assigned to nobody

[2018-09-06 20:11] Walraz opened #84 "provide action payload in onSuccess"
I don't find a way to access the called action payload in a onSuccess cb.

Lets say I want to make a delete request with params in action

`this.$store.dispatch('user/delete', { params: { id: 1 })`

can we have a actionPayload argument in the onSuccess() for convenient accessing the params/data from the action payload.

[code]

thx!

[2018-09-06 20:14] christianmalek commented on #84
Hey @Walraz !

Wow. This is the third request in this week for this feature! I'll try to add it this weekend.

[2018-09-06 20:30] Walraz commented on #84
Cool @christianmalek !

Maybe the onSuccess arguments should be in an object for cleaner code and access only the args you need.

`onSuccess({ state, actionPayload })` or even `onSuccess({ state, params, data })`

this would be breaking changes to the current api, but say it will be a 5th enhancement argument to onSuccess in the future, it will be a hassle to access it.

Thanks for an awesome libr

[2018-09-06 20:32] christianmalek commented on #84
That's true. I will consider this in v3. Thanks for your input!

[2018-09-07 17:35] christianmalek commented on #84
@Walraz Please update vuex-rest-api to v2.10.0. I've added the `{params, data}` as additional parameter in the `onSuccess` and `onError` functions.

[2018-09-07 17:35] #84 closed, assigned to christianmalek

[2018-09-07 17:36] christianmalek commented on #79
I've added the `{params, data}` as additional parameter in the `onSuccess` and `onError` functions so you can access them now. Therefore please update to v2.10.0

[2018-09-07 17:36] christianmalek commented on #83
Please update vuex-rest-api to v2.10.0. I've added the `{params, data}` as additional parameter in the `onSuccess` and `onError` functions so you can access now these properties.

[2018-09-07 18:32] andresmrm commented on #79
Wow! Thank you! =D

[2018-09-07 20:31] Koc commented on #59
@christianmalek What about define using standard ES6 class + typescript decorators? It could be done in very elegant way.

Something similar to https://github.com/championswimmer/vuex-module-decorators . It would added autocimplete in IDE + allow do automatic refactoring.

[2018-09-07 20:35] christianmalek commented on #59
@Koc I will look into this. This looks pretty nifty. Thanks for sharing!

[2018-09-07 22:06] Koc opened #85 "Add support of mapping response object to typed model objects"
It would be nice add support mapping response to typed classes. Maybe reuse existent sollution like https://github.com/jf3096/json-typescript-mapper .  Also serialize typed request payloads to plain json.

We can get self-documented methods, request payloads and autocomplete for return types.

[2018-09-07 22:10] christianmalek commented on #85
Hey @Koc,

I'll consider it. Thanks for your idea!

PRs are by the way very welcome.

[2018-09-15 13:13] andresmrm opened #86 "Section "calling-the-actions" disapeared from the docs"
Hello again!

Nothing happens when I click `here` in "Continue reading here to know how to call the actions."
https://christianmalek.github.io/vuex-rest-api/how-to-use.html#calling-the-actions
But I think I remember this section from before...

[2018-09-15 13:16] andresmrm commented on #86
Oh, it's indeed here:
https://christianmalek.github.io/vuex-rest-api/miscellaneous.html#calling-the-actions
So it's just a broken link.

[2018-09-15 13:16] christianmalek commented on #86
Oh. I forgot to "fix" the links in the new docs. The section you're looking for is now here: https://christianmalek.github.io/vuex-rest-api/miscellaneous.html#calling-the-actions

[2018-09-23 12:24] kuwaitbinary opened #87 "Not an issue tip for CORS. [Tips]"
If you got **CORS** issues check your NGINX or Apache.

in my case it was Nginx.

`location /  {

   add_header 'Access-Control-Allow-Origin' '*';

 ...
`

Also do not forgot too allow cross origin in your backend in **django** it is

`ALLOWED_HOSTS = ["bla-bla.com", "localhost", "127.0.0.1"]`

[https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMissingAllowOrigin?utm_source=devtool

[2018-09-23 12:30] christianmalek commented on #87
Thanks for your advice. This is an security mechanism of CORS you'll experience with every server whose domain is different than the client's domain.

[2018-09-23 12:30] #87 closed, assigned to nobody

[2018-10-12 02:57] slurmulon commented on #54
@christianmalek I think that the configuration object approach is still the best.

For what it's worth, here's my thinking (skipping over the last idea since it's so similar to the idea before it):

### Idea 1

[code]
This approach is regressing back to ES5 days where we didn't have parameter destructuring and therefore it misses out on the benefits.

The primary downside is that the user has to r

[2018-10-12 03:08] slurmulon commented on #59
I wrote a detailed comment on this proposed change in a less relevant issue (whoops!):

https://github.com/christianmalek/vuex-rest-api/issues/54#issuecomment-429187894

[2018-10-12 07:35] christianmalek commented on #59
@slurmulon Thanks for your input! I agree with all of your arguments. If someone really wants to have a "simpler" approach he/she could write an helper method to please his needs. =)

[code]

[2018-10-12 19:34] slurmulon commented on #15
@christianmalek I'm happy to start writing some tests. I am using this module in a production application (about to be more than one!), so I have a vested interest in keeping things not broken :slightly_smiling_face:

What testing frameworks do you prefer? I generally use `mocha`, but recently I've shifted more towards TAP frameworks such as `tape` since they avoid the weird environment and setup

[2018-10-12 20:22] christianmalek commented on #15
Hello Erik,

I've used Jest with babel-jest. But feel free to use what you want. I would
appreciate it very much!

Erik Vavro <notifications@github.com> schrieb am Fr., 12. Okt. 2018, 21:34:

[2018-10-13 01:03] slurmulon commented on #15
Great! I'll put some time towards it this weekend, although there will probably be some initial friction as I haven't played with unit tests in TypeScript yet.

[2018-10-13 08:38] christianmalek commented on #15
Great! Thanks in advance.

Erik Vavro <notifications@github.com> schrieb am Sa., 13. Okt. 2018, 03:03:

[2018-10-19 03:32] slurmulon commented on #15
So I didn't get to it as soon as I would have liked (ya know, because life stuff)... but I have started fleshing out more tests: https://github.com/slurmulon/vuex-rest-api/tree/tests

I will have more availability next week to really hammer on these :muscle:

[2018-10-19 08:42] christianmalek commented on #15
Hello @slurmulon,

Please take your time and again: Thanks for your contribution.

[2018-10-22 22:08] BorisTB commented on #54
Here's my idea to new syntax with some new functions I miss on current version with examples how they could be used:

[code]

1. __.actions()__ method to define actions
2. __Defining by action names__ in same object would prevent duplicates in action names and users could easily create some helpers to build their config from some array of endpoints definitions (e.g.: `const actions = endpoints.red

[2018-10-22 22:28] BorisTB commented on #59
https://github.com/christianmalek/vuex-rest-api/issues/54#issuecomment-432008151

this structure would allow to easily generate actions from some data source

[code]

[2018-10-23 07:50] christianmalek commented on #54
@BorisTB Thanks. These are some awesome ideas. Thanks for your input!

ad 1: I'm with you.
ad 2: Awesome idea. The only downside would be the API incompatibility.
ad 3: Here I'm also with you. I would say that raising an exception in case of unknown action commands (get, post, put) would be a good addition to this (in favor of just defaulting to eg GET).
ad 4: The idea of an plural helper sounds n

[2018-10-25 20:33] #86 closed, assigned to nobody

[2018-10-25 20:59] christianmalek commented on #78
@appinteractive I've added an section: https://christianmalek.github.io/vuex-rest-api/miscellaneous.html#nuxt

[2018-10-25 20:59] #78 closed

[2018-10-27 15:57] appinteractive commented on #78
Yeah thanks for mentioning 😀

[2018-10-27 21:44] liftyourgame opened #91 "Callback when rest call completes"
How would you specify a callback so you can have code execute once the REST call completes?

[2018-10-27 22:23] christianmalek commented on #91
Hello @liftyourgame,

You can do it with async-await (or promises) outside of the initialization of the store. This is useful if you have to handle every call individually.
[code]

Otherwise you can use [onSuccess](https://christianmalek.github.io/vuex-rest-api/api.html#onsuccess) and [onError](https://christianmalek.github.io/vuex-rest-api/api.html#onerror).

[2018-11-07 12:19] christianmalek commented on #91
I'll close this due to inactivity. Feel free to open a new issue.

[2018-11-07 12:19] #91 closed, assigned to nobody

[2018-12-04 23:29] juandl commented on #78
@christianmalek New Update:

**store/index.js**

[code]

**store/posts.js**

[code]

[2018-12-05 07:53] christianmalek commented on #78
Hello @juandl !

The issue was passing a specific axios instance to Vapi. Does this work with your code?

[2018-12-05 08:47] juandl commented on #78
Hello @christianmalek, I had the same problem in Huxt.js in this way I solved it.

[2018-12-05 08:57] christianmalek commented on #78
@juandl But you don't pass any specific axios instance in your code example which was necessary for nuxt-auth @appinteractive, doesn't it?  So how does this work?

[2018-12-05 09:00] christianmalek commented on #15
@slurmulon Hey! Any news? :)

[2018-12-08 20:33] geiseri opened #93 "Support for Fetch API"
Right now it seems that Axios is not interested in supporting the Fetch API standard.   While it is quite new and not widely supported it has several key features for PWAs that help with offline first activities and caching API calls.  It also has support for Blobs which are becoming more popular for texture assets.  From the API it doesn't look like there are a lot of dependencies on the behavior

[2018-12-08 21:43] geiseri opened #94 "Add ability to add "namespaced" option for "getStore""
In some cases, you want to have to have your API states in a module you need to supply a `namespaced: true` option.  Right now I have to do `modules: {api: {namespaced: true, ...api}}` and I would rather be able to do a `modules: {api}` for less verbosity.

[2018-12-09 12:04] christianmalek commented on #94
Hello @geiseri,

Thanks for your idea! I've added it to the feature ideas for v3.

[2018-12-09 12:11] christianmalek commented on #93
At the moment the usage of axios is "hard coded" in vuex-rest-api. Of course it would be possible to implement interfaces and make it possible to also use the fetch API. I'll have to research how far this code change would benefit vuex-rest-api.

I'll also consider substituting axios with the fetch API if this makes sense.

[2018-12-09 13:35] geiseri commented on #93
I did a cursory look and it seemed like it might be a bit more invasive.  On the plus side with a polyfill Fetch could become the default and no lose any browser support.  The key thing I need would be the ability to support offline and background sync.

[2018-12-09 15:02] christianmalek commented on #93
Thanks for your additional feedback.

[2019-01-15 00:22] qskousen commented on #54
Some way to cancel a current request would be fantastic. In my use case, I have a web page that automatically refreshes the store every X seconds. You can also do a search or a filter and it will refresh. Sometimes, the search and the auto-refresh happen near the same time, and you will get a flash of your search and then it will be overwritten by the auto refresh, which was sent out first (before

[2019-01-15 07:50] christianmalek commented on #54
Hey @qskousen,

Thanks for your suggestions! What would be your preferred way to cancel requests if you  had to do it manually?

axios supports already the proposed cancellation technique: https://github.com/axios/axios#cancellation
But it's not built into vuex-rest-api yet. Noted for version 3.

Sounds good in my ears. I've noted it for version 3, too.

[2019-01-15 19:25] qskousen commented on #54
@christianmalek,
If I was to work within current vuex-rest-api to cancel a request manually, I would be overriding the onSuccess and having a token (similar to described in the SO answer) that would tell me at that point if I needed to commit the response, or ignore it because I have a newer one pending. It would basically be a wrapper around vuex-rest-api to handle the cancellation process.

I am

[2019-08-04 13:13] hamzamihaidanielx opened #95 "How to get rid of error&pending in setting a custom state?"

[2019-08-04 16:11] christianmalek commented on #95
Could you please elaborate?

[2019-08-04 16:14] hamzamihaidanielx commented on #95
![image](https://user-images.githubusercontent.com/12731515/62426319-e1994980-b6eb-11e9-8cc3-a228b749a61b.png)

Like, i was telling, uhm, basically i want for my store there, the object just to have the property **constants** and nothing more, **no pending or error properties**. Is this possible somehow?

Thank you kindly :)

[2019-08-04 16:15] christianmalek commented on #95
Oh. Sorry, that's not possible at the moment. `error` and `pending` will be created automatically.

[2019-08-04 16:17] hamzamihaidanielx commented on #95
Ah, i see. Well its not that bad tho, but would've been nice to actually have the store without them, maybe the next version, to be optional? I do not know.

Either way, thank you so much for this library, makes things way easier :). Hope this stays active in further development, its really great.

[2019-08-04 16:18] christianmalek commented on #95
I've added it to v3! Unfortunately I don't have much time at the moment to do any "nice-to-have" changes to the library.

Thanks for your kind words. :)

[2019-08-04 16:19] hamzamihaidanielx commented on #95
Saw the v3 branch is behind compared to v2 in commits tho.

[2019-08-04 16:19] christianmalek commented on #95
It's on a local branch.^^

[2019-08-04 16:43] #95 closed, assigned to nobody

[2019-10-03 22:38] carbontwelve opened #96 "Update peer dependency of axios"
It might be an idea to update the peer dependency of axios to include `^0.19`

[2019-10-04 09:12] christianmalek commented on #96
Thanks for the info. Wanna create a PR for it?

[2019-10-07 03:56] wobsoriano commented on #94
Hi, may I know how you guys currently do namespacing with this? Thank you!

[2019-10-07 08:57] christianmalek commented on #94
Hello @sorxrob I didn't add a namespacing option yet. This is why @geiseri 's method is currenty the way to go. PRs are welcome if you want to implement it.

[2019-10-09 11:58] ilyaryabchinski commented on #96
Hey @christianmalek ! Could you please check my PR on the issue #97 ?

[2019-10-11 08:33] carbontwelve commented on #96
Thank you @ilyaryabchinski; I would have done this myself but its been a super busy week at work.

[2019-10-20 18:52] #96 closed, assigned to nobody

[2020-01-16 15:40] christianmalek commented on #94
Added in #99

[2020-01-16 15:40] #94 closed, assigned to nobody

[2020-02-21 16:01] christianmalek commented on #93
I'll close this. Feel free to open it again.

[2020-02-21 16:01] #93 closed, assigned to nobody

[2020-02-21 16:02] christianmalek commented on #15
@slurmulon Ping

[2020-04-10 14:17] gabriel4649 opened #102 "What does pending really mean? Not sure if this is intended behavior."
Hi!

Thanks for creating this amazing tool.

First I will present some reference code, then I will discuss an issue which might be a bug.

[code]

It is possible to reach a state where the property `podcast` is `null` but `podcastPending` is `false`.
Rendering is successful as the `podcast` is successfully loaded, however I'm getting errors in the console because my `<div v-if="loaded"></div>` gua

[2020-04-10 16:26] christianmalek commented on #102
Hi!

That's intended! The property `pending` is only `true` when you fired up a request to fetch data. When it fails or when it's successful, it will be `false` again. If you didn't fetch any data at the beginning, it will also be `false`. So maybe you have to check your guard if the property is `null` and the according pending property is false? Hope this helps!

[2020-04-10 16:28] gabriel4649 commented on #102
Alright, thanks for the clarification.

This is a very common pattern, so it might be worth mentioning it in the docs.

[2020-04-10 16:28] #102 closed, assigned to nobody

[2020-07-22 18:30] christianmalek opened #104 "V3 - Checklist"
This list is for myself to see what I still have to implement for version 3.

- [ ] **add tests** 🐛
- [ ]  integrate deployment pipeline (CI)
- [ ] improve readme
- [ ] simplify adding resources (actions)
- [ ] make baseUrl changeable after creating store (just set baseUrl of axios instance)
- [ ] make default error state configurable
- [ ] add option to don't change state if error happens
- [ ] m

[2020-07-22 18:31] christianmalek commented on #57
Will be continued in https://github.com/christianmalek/vuex-rest-api/issues/104

[2020-07-22 18:31] #57 closed

[2020-07-22 18:31] #54 closed

[2020-07-22 18:31] christianmalek commented on #15
Already in progress by myself.

[2020-07-22 18:31] #15 closed

[2020-07-22 18:32] christianmalek commented on #50
Already done

[2020-07-22 18:32] #50 closed

[2020-07-22 18:33] #59 closed

[2020-07-28 12:39] coleman-benja opened #105 "Handling rejected promises"
Hello!

[code]

I'm having an issue where rejected promises are being thrown, despite defining an `onError` handler.

I'm passing Vapi an instance of Axios that has an interceptor defined like so:

[code]

and instancing Vapi a la:

[code]

`onError` is being called, however it's still reporting `Uncaught (in promise) Error`. I'm wondering how these could be handled? If I don't return `Promise.rej

[2020-07-28 13:00] christianmalek commented on #105
Hey! Even if you define "onError", it still throws an exception. This is done so that you can still react to single actions outside of Vapi. At the moment you have to do the whole thing with an error handling. But it would be an idea to include this in version 3.

[code]

Alternatively use then() and catch().

[2020-07-28 13:03] coleman-benja commented on #105
Ah wasn't sure if it was intended or not, thank you!

[2020-07-28 13:03] #105 closed, assigned to nobody

[2020-07-28 13:10] christianmalek commented on #105
You're welcome! I'll put that in the documentary. That information is definitely missing.

[2021-03-18 20:51] pchisholm commented on #104
Hello,

I'm using vuex-rest-api in a work project and am wondering what the status on v3 is? In particular I'm wondering about the request cancellation feature.

I've run into a situation where I need it and I don't see a way to do this at the moment without modifying the library (was thinking about storing a `CancelToken` in `ActionParamsBody` and then setting it in the config that gets prepped i

[2021-03-18 21:35] christianmalek commented on #104
@pchisholm Hello and thank you for your interest in this project!

Unfortunately, the project is not being developed further at the moment. A version 3 does not exist yet and there is no date planned for when the project will be continued.

You are welcome to submit a PR. They are always welcome.

[2021-07-02 16:29] #85 closed, assigned to nobody

[2021-07-08 08:15] m-demydiuk opened #108 "Update axios peer dependency"
Please update axios peer dependency to `^0.21`

[2021-07-08 15:18] christianmalek commented on #108
Hi,

I'll do it in a few days.

[2021-07-13 18:43] christianmalek commented on #108
Done in https://github.com/christianmalek/vuex-rest-api/commit/d1c3bbc8699624a8fc413312017b0dcd8457745d

[2021-07-13 18:43] #108 closed, assigned to nobody

[2022-03-24 20:31] ghenry opened #109 "Can't install"
[code]

[2022-03-24 20:39] christianmalek commented on #109
Hey,

vuex-rest-api requires `axios^0.21`. `axios^0.26.1` does not satisfy this version constraint. I have to update the version.

[2022-03-24 20:44] ghenry commented on #109
I forget as it's been a while, but does ^ pin that version or mean anything greater than?

[2022-03-24 21:18] christianmalek commented on #109
You can check it here https://jubianchi.github.io/semver-check/#/^0.21/0.26.1

[2022-03-24 21:24] ghenry commented on #109
Thanks

[2022-05-24 07:14] m-demydiuk commented on #108
@christianmalek Could you please update peer dependency again as latest axios version is 0.27.2.
And would be great to make it the way vuex-rest-api don't block updating axios :)

[2022-05-24 16:53] christianmalek commented on #108
@m-demydiuk I'll update it in a few days! So how would you solve the problem with the peer dependency? Just remove the peer dependency and hope that everybody installed the proper version of axios?

[2022-05-24 17:38] christianmalek commented on #108
Updated to newest axios version. Repo is updated and live on npm!

[2022-05-24 17:39] christianmalek commented on #109
Updated to the newest axios version. :)

[2022-05-24 17:39] #109 closed, assigned to nobody

[2022-05-31 11:15] m-demydiuk commented on #108
@christianmalek Thanks for the update. Regarding how to correctly set dependencies - I can't advise. Maybe like other package developers do :)